@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html
{
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(179,149,226,1) 0%, rgba(9,80,121,1) 40%, rgba(0,212,255,1) 100%);
}