@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lato&display=swap');
*
html
{
    text-align: center;
    background: rgb(179,149,226);
    background: linear-gradient(90deg, rgba(179,149,226,1) 0%, rgba(9,80,121,1) 40%, rgba(0,212,255,1) 100%);;
   background-image: url(https://commons.wikimedia.org/wiki/File:Image_created_with_a_mobile_phone.png#/media/Fichier:Image_created_with_a_mobile_phone.png);
}